@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

/* base styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rock Salt", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.5em;
}

i:hover {
  color: grey;
}

header,
footer {
  background-color: black;
  color: white;
}

header {
  height: 70px;
  padding: 1rem;
}

footer {
  margin-top: auto;
  margin-bottom: 0;
  padding: 0.5rem;
}

/* class styles */

.user-input .container {
  font-size: 5rem;
  line-height: 1.3em;
}

.round-indicator {
  background-color: white;
  border: 2px black solid;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.scoreboard {
  width: 13rem;
  border-radius: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: black;
  color: white;
  padding: 1rem;
}

/* interaction */

a:hover {
  color: rgb(0 102 192);
}
